a {
    width: 70%;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: beige;
    text-decoration: none;
}
a:visited, a:link {
    color:black;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
}